@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.eot');
	src: local('☺'), url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*
{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}

html {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body
{    
    margin: 0px;
    width: 100%;
    position: relative;
}
.header
{
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 150px;
    margin-bottom: 50px;
}
.logo
{
    width: 313px;
    height: 96px;
    left: 0px;
    top: 0px;
}

.footer
{
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    color: #FFFFFF;
    background: #222222;
    margin-top: 90px;
    padding-bottom: 2em;
}

.headopis {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.headopis p {
    margin: 0px;
    margin-top: 2px;
    font-size: 20px;
}
.bold {
    font-weight: bold;
}

.social p {
    margin:0px;
    margin-top: 4px;
    font-size: 20px;
}

.social{
    margin-left: 4em;
}

.footer-reight-menu{
    margin-right: 4em;
}

.soc {
    margin-top: 1em;
    margin-bottom: 1em;
}

.soc a {
    margin-right: 24px;
}

.fontgrey {
    color:grey;
}

.foottop {
     margin-top: 2em;
     font-weight: normal;
 }

.foottop p {
    margin: 0px;
    margin-bottom: 8px;
    font-size: 20px;
}

.foottop a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.footerlogo
{
    width: 223px;
    height: 74px;
    margin-bottom: 1em;
}

.headright a {
    text-decoration: none;
    color: #222222;
}

.big-card-item h1 {
    font-size: 32px;
    font-weight: bold;
}

.big-card-item {
    font-family: 'Inter';
    display: flex;
    justify-content: space-between;
}

.big-img-card {
    height: 590px;
    width: 591px;
    border-radius: 25px;
}

.desc-big-card h1 {
    margin: 0 0 1em 0;
    line-height: 1;
}

.desc-big-card {
    width: 591px;
}

.desc-big-card2 {
    width: 551px;
    text-align: justify;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #EFB461;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .9s;
    transition: opacity .8s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #222222;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #222222;
    cursor: pointer;
}

.ves-count {
    margin-left: 5px;
    font-weight: bold;
}

.ves-jewerly {
    margin-top: 1em;
    display: flex;
    align-items: center;    
}

.metall-jewerly {
    margin-top: 1em;
}

.color-jewerly {
    margin-top: 1em;
}

.stones-jewerly {
    margin-top: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;    
}

li { 
    display: flex;  
    margin-right: 25px;
    align-content: center;
    align-items: center;
}

ul li {
  color: #222222;  
  font-weight: 500;
  font-weight: bold;
}

.bg {
  width: 141.9px;
  border: 2px solid;
  border-color: #222222;
  border-radius: 10px;
  height: 57px;
  text-align: center;
  justify-content: center;
  padding: 2px;
  margin-right: 20px;
  transition: 0.3s all ease;
}

.bg:hover {
  background-color: #EFB461;
  cursor: pointer;
}

#price-work {
    margin-left: 1em;
    font-weight: bold;
    color: #EFB461;
}

#price-work-black {
    font-family: 'Inter';
    margin-left: 1em;
    font-weight: 400;
}

.work-itog {
    margin-top: 2em;
}

.work {
    display: flex;
}

.button-zakaz {
    font-family: 'Inter';
    background: #222222;
    border-radius: 8px;
    color: #FFFFFF;
    height: 63px;
    width: 222px;
    font-weight: 700;
    font-weight: bold;
    cursor: pointer;
}

#white-text-never {
    color: #FFFFFF;
    cursor: default;
}

.cart-icon {
    width: 50px;
    height: 50px;
}

.shop-cart-container {
    display: flex;  
    flex-direction: column;  
    height: 100%;
    align-items: center;
}

.shop-cart-container p {
    font-size: 15px;
}

.login-icon {
    width: 50px;
    height: 50px;
}

.description p {
    font-size:25px;
 }

.work p {
    font-size:25px;
}