

<div th:fragment="sorting(field, label)">
        <a type="button"  class="btn btn-outline-dark" th:href="@{'/catalog?' + ${searchQuery!=null && searchQuery!=''? 'searchQuery=' + searchQuery + '&' : ''}
                + 'page=' + ${currentPage} + '&size=' + ${pageSize}
                + ${sortField!=null ? '&sort=' + field + ',' + (sortField == field ? reverseSortDirection : sortDirection) : ''}}">[[${label}]]</a>

<!--    <div class="search-box">-->
<!--        <input class="search-txt" type="text" name="" placeholder="Поиск">-->
<!--        <a class="search-btn" th:href="@{'/catalog?' + ${searchQuery!=null && searchQuery!=''? 'searchQuery=' + searchQuery + '&' : ''}-->
<!--                + 'page=' + ${currentPage} + '&size=' + ${pageSize}-->
<!--                + ${sortField!=null ? '&sort=' + field + ',' + (sortField == field ? reverseSortDirection : sortDirection) : ''}}"><i class="fa fa-search" aria-hidden="true"></i></a>-->
<!--    </div>-->
</div>
