<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- @ - default directory -->
    <link th:href="@{/about.css}" rel="stylesheet">
    <title>opal.com</title>
    <meta charset="utf-8">
</head>
    <body class="page">
        <div class="container">
            <header class="header">                
                <div class="headopis">
                    <div class="logo">
                    <a href="catalog.html">
                    <img src="img/logo.png">
                    </a>
                </div>
                    <div class="headright">
                        <a href="adress.html" class="bold">Санкт-Петербург</a>
                        <br><a href="adress.html">Среднерогатская, 14к1, ст 1</a>
                        <br><a href="adress.html">Каштановая аллея, 3</a>
                    </div>
                    <div class="headright">
                        <p class="bold">+7 (900) 653-97-77</p>
                        <p>c 10:00 до 21:00</p>
                    </div>
                    <div class="headright">
                        <a href="shopping-cart.html" class="shop-cart-container">
                           <img src="img/shopping-cart.png" class="cart-icon">
                           <p>Корзина</p> 
                        </a>                        
                    </div>
                </div>
            </header>
                <main>
                    <div class="about-company">
                        <h1>О компании "ОПАЛ"</h1>
                    </div>
                    <div class="company-desc">
                        <div class="">
                            <p id="first-p" class="desc">Обслуживание, ремонт и реставрация ювелирных изделий и швейцарских часов в Санкт-Петербурге с 2018 года.</p>
                            <p class="desc">Мы располагаем в Санкт-Петербурге сетью сервисных центров под единым брендом «ОПАЛ».</p>
                            <p class="desc">За годы работы наша сеть заслужила признание как эталон успешного бизнеса, гарантия безупречного качества услуг. Гибкая структура сервиса позволяет компании мобильно реагировать на изменения конъюнктуры рынка и развивать ассортимент услуг и продукции в соответствии с покупательским спросом.</p> 
                            <p class="desc">Компания «ОПАЛ» является «Официальным авторизованным сервисным центром» ряда российских и международных компаний, как производителей, так и крупнейших дистрибьюторов часов в России.</p>
                        </div>
                        
                        <img src="img/about-logo.jpg" class="about-logo">
                    </div>
                </main>                
        </div>
        </body>
    <footer class="footer">
        <div class="social">
            <div class="foottop">
                <a href="adress.html" class="bold">Санкт-Петербург</a>
                <br><a href="adress.html">Среднерогатская, 14к1, ст 1</a>
                <br><a href="adress.html">Каштановая аллея, 3</a>
            </div>
            <div class="soc">
                <a href="..."><img src="img/vk 1.svg" alt="vk"></a>
                <a href="..."><img src="img/telegram 1.svg" alt="tg"></a>
                <a href="..."><img src="img/inst 1.svg" alt="inst"></a>
            </div>
            <div>
            <p>+7 (900) 653-97-77</p>
            <p class="fontgrey">c 10:00 до 21:00</p>
            </div>
        </div>
        <div  class="foottop">
            <p class="bold">Ювелирные изделия</p>
            <a href="catalog.html">Каталог ювелирных изделий</a>
        </div>
        <div class="foottop">
            <div class="footer-reight-menu">
            <div class="footerlogo"> 
                <a href="catalog.html">
                <img src="img/logo.png"class="footerlogo">
                </a>
            </div>
            <p>ИП Соколова С.Р.<br>ОРГНИП: 321623400013730</p>
            <a href="adress.html"><br>© 2018-2022 “ОПАЛ”</a>
            </div>
        </div>
    </footer>
</html>