<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/catalog.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
</head>
<body>

<div class="container-sm">

    <h1>Панель администратора</h1>
    <div th:if="${param.success_create}">
        <div class="alert alert-success">
            Новый товар был успешно добавлен
        </div>
    </div>

    <div th:if="${success_update_vendor != null}">
        <div class="alert alert-info"
             th:text="'Товар с артиклем [' + ${success_update_vendor} + '] был успешно обновлен'">
        </div>
    </div>

    <div th:if="${success_delete_vendor != null}">
        <div class="alert alert-info"
             th:text="'Товар с артиклем [' + ${success_delete_vendor} + '] был успешно удален'">
        </div>
    </div>

    <div th:if="${vendor_code_error != null}">
        <div class="alert alert-danger" role="alert"
             th:text="'Невозможно найти продукт с артиклем [' + ${vendor_code_error} + ']'">
        </div>
    </div>

    <a type="button" class="btn btn-outline-dark" role="button"  th:href="@{/administration/add_product}">Добавить товар</a>
    <a type="button" class="btn btn-outline-dark" role="button"  th:href="@{/}">Список заказов</a>
    <a type="button" class="btn btn-outline-dark" role="button"  th:href="@{/main-page}">На главную</a>

    <table class="table table-bordered border-secondary mt-2">
        <thead class="table-light">
        <tr>
            <th scope="col">Артикул</th>
            <th scope="col">Имя изделия</th>
            <th scope="col">Пол</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>
            <th scope="col">Описание</th>
            <th scope="col">Фото</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.vendorCode}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.gender}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td><img th:src="@{${'/img/' + product.vendorCode + '.jpg'}}" width="120"/></td>
            <td>
                <div class="container d-flex">
                    <a type="button" class="btn btn-info m-1 mt-4"
                       th:href="@{/administration/update/{vendor_code}(vendor_code=${product.vendorCode})}">Обновить</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger m-1 mt-4" data-bs-toggle="modal" data-bs-target="#deleteModal" th:attrappend="data-bs-target=${product.vendorCode}">
                        Удалить
                    </button>

                    <th:block th:replace="fragments/_modals :: modal(${product.vendorCode})">modal</th:block>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>