<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/catalog.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Админка</title>
</head>
<body>

<div class="container-sm">

    <h1>АДМИНКА</h1>
    <div th:if="${param.success}">
        <div class="alert alert-info">
            Новый товар был успешно добавлен
        </div>
    </div>

    <a type="button" class="btn btn-outline-success" th:href="@{/administration/add_product}">Добавить товар</a>

    <table class="table table-bordered border-secondary">
        <thead class="table-light">
        <tr>
            <th scope="col">Артикул</th>
            <th scope="col">Имя изделия</th>
            <th scope="col">Пол</th>
            <th scope="col">Цена</th>
            <th scope="col">Описание</th>
            <th scope="col">Фото</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.vendorCode}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.gender}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td><img th:src="@{${'/img/' + product.vendorCode + '.jpg'}}" width="120"/></td>
            <td>
                <div class="container d-flex">
                    <a type="button" class="btn btn-info m-1 mt-4" th:href="@{/administration/update/{vendor_code}(vendor_code=${product.vendorCode})}">Обновить</a>
                    <a type="button" class="btn btn-danger m-1 mt-4" th:href="@{/administration/delete/{vendor_code}(vendor_code=${product.vendorCode})}">Удалить</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


</div>


</body>
</html>