<!DOCTYPE html>
<html>
<head>
  <link href="../static/auntofication.css" rel="stylesheet">
  <title>opal.com</title>
  <meta charset="utf-8">
</head>
<body class="page">
<div class="container">
  <header class="header">
    <div class="headopis">
      <div class="logo">
        <a href="catalog.html">
          <img src="img/logo.png">
        </a>
      </div>
      <div class="headright">
        <a href="adress.html" class="bold">Санкт-Петербург</a>
        <br><a href="adress.html">Среднерогатская, 14к1, ст 1</a>
        <br><a href="adress.html">Каштановая аллея, 3</a>
      </div>
      <div class="headright">
        <p class="bold">+7 (900) 653-97-77</p>
        <p>c 10:00 до 21:00</p>
      </div>
    </div>
  </header>
  <main>
    <div class="main">
      <div class="login">
        <form class="login-form">
          <label id="aunt-id">Авторизация</label>
          <input class="pole" type="email" name="email" placeholder="Email">
          <input class="pole" type="password" name="pswd" placeholder="Password">
          <button class="button-aunt" class="pole">Авторизироваться</button>
        </form>
        <div class="registration-link">
          <p>Еще не зарегестрированы?</p>
          <a href="registration.html">Зарегестрироваться</a>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
<footer class="footer">
  <div class="social">
    <div class="foottop">
      <a href="adress.html" class="bold">Санкт-Петербург</a>
      <br><a href="adress.html">Среднерогатская, 14к1, ст 1</a>
      <br><a href="adress.html">Каштановая аллея, 3</a>
    </div>
    <div class="soc">
      <a href="..."><img src="img/vk 1.svg" alt="vk"></a>
      <a href="..."><img src="img/telegram 1.svg" alt="tg"></a>
      <a href="..."><img src="img/inst 1.svg" alt="inst"></a>
    </div>
    <div>
      <p>+7 (900) 653-97-77</p>
      <p class="fontgrey">c 10:00 до 21:00</p>
    </div>
  </div>
  <div  class="foottop">
    <p class="bold">Ювелирные изделия</p>
    <a href="catalog.html">Каталог ювелирных изделий</a>
  </div>
  <div class="foottop">
    <div class="footer-reight-menu">
      <div class="footerlogo">
        <a href="catalog.html">
          <img src="img/logo.png"class="footerlogo">
        </a>
      </div>
      <p>ИП Соколова С.Р.<br>ОРГНИП: 321623400013730</p>
      <a href="adress.html"><br>© 2018-2022 “ОПАЛ”</a>
    </div>
  </div>
</footer>
</html>