<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- @ - default directory -->
    <link th:href="@{/cart.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>opal.com</title>
    <meta charset="utf-8">
</head>
<body class="page">
<div class="container">
    <header th:insert="fragments/header_footer.html :: header"></header>
    <form
            method="post"
            role="form"
            th:action="${show_sum} == true ? @{/create_order?show_sum=false} : @{/create_order?show_sum=true}"
            th:object="${wrapper}"
    >
        <div class="shopping-carts-container">
            <h1>Корзина</h1>
            <nav th:if="${sum_of_cart != 0}" class="mb-2 sticky-top navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid d-flex">
                    <div class="collapse navbar-collapse mr-2" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <div class="input-group input-group-lg mr-2">
                                    <span class="input-group-text" id="name">Имя</span>
                                    <div th:if="${show_sum == true}">
                                        <input type="text" class="form-control" th:field="*{userCustomName}"
                                               aria-label="Sizing example input"
                                               aria-describedby="name">
                                    </div>
                                    <div th:if="${show_sum == false}">
                                        <input type="text" class="form-control" th:field="*{userCustomName}"
                                               aria-label="Sizing example input"
                                               placeholder="Сначала узнайте цену"
                                               aria-describedby="name" disabled>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="input-group input-group-lg mr-2">
                                    <span class="input-group-text" id="phone">Телефон</span>
                                    <div th:if="${show_sum == true}">
                                        <input type="text" class="form-control" th:field="*{userNumber}"
                                               aria-label="Sizing example input"
                                               aria-describedby="phone">
                                    </div>
                                    <div th:if="${show_sum == false}">
                                        <input type="text" class="form-control" th:field="*{userNumber}"
                                               aria-label="Sizing example input"
                                               placeholder="Сначала узнайте цену"
                                               aria-describedby="phone" disabled>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div th:if="${show_sum == true}">
                                    <p th:text="'Сумма вашей потенциальной покупки: ' + ${sum_of_cart} + '₽'"></p>
                                </div>
                            </li>
                        </ul>
                        <div th:if="${show_sum == true}">
                            <button class="btn btn-outline-dark" type="submit">Купить</button>
                        </div>

                        <div th:if="${show_sum == false}">
                            <button class="btn btn-outline-dark" type="submit">Узнать цену</button>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="shopping-carts-menu">
                <div class="cart-items" th:each="currentItem, item : *{itemsWithNewQuantity}">
                    <div class="shop-cart-item">
                        <div class="cart-image-price">
                            <img th:src="'img/'+${currentItem.productEntity.vendorCode}+'.jpg'" class="small-img">
                            <div class="cart-desc-small">
                                <p th:text="${currentItem.productEntity.name}"></p>
                                <p th:text="${currentItem.productEntity.price}"></p>
                            </div>
                        </div>
                        <div class="big-desc-cart">
                            <p th:text="${currentItem.productEntity.name}"></p>
                            <div class="two-buttons">
                                <div th:if="${show_sum} == false">
                                    <select class="form-select" aria-label="Default select example"
                                            data-toggle="tooltip"
                                            th:field="*{itemsWithNewQuantity[__${item.index}__].quantity}"
                                            data-placement="top"
                                            title="Здесь можно указать количество, которое вам нужно">
                                        <option th:each="i : ${#numbers.sequence(1, currentItem.maxQuantity)}"
                                                th:value="${i}"
                                                th:selected="${currentItem.quantity == i}" th:text="${i}">
                                    </select>
                                </div>

                                <div th:if="${show_sum} == true">
                                    <select class="form-select" aria-label="Default select example"
                                            data-toggle="tooltip"
                                            th:field="*{itemsWithNewQuantity[__${item.index}__].quantity}"
                                            data-placement="top"
                                            title="Хехе, еее бой">
                                        <option disabled th:each="i : ${#numbers.sequence(1, currentItem.maxQuantity)}"
                                                th:value="${i}"
                                                th:selected="${currentItem.quantity == i}" th:text="${i}">
                                    </select>
                                </div>

                                <input type="hidden" th:field="*{itemsWithNewQuantity[__${item.index}__].id}"/>
                                <input type="hidden"
                                       th:field="*{itemsWithNewQuantity[__${item.index}__].productEntity}"/>
                                <input type="hidden" th:field="*{itemsWithNewQuantity[__${item.index}__].maxQuantity}"/>
                            </div>

                            <a class="btn btn-danger"
                               th:href="@{/remove_from_cart/{item_id}(item_id=${currentItem.id})}"
                               role="button">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<footer class="footer">
    <div class="social">
        <div class="foottop">
            <a th:href="@{/address}" class="bold">Санкт-Петербург</a>
            <br><a th:href="@{/address}">Среднерогатская, 14к1, ст 1</a>
            <br><a th:href="@{/address}">Каштановая аллея, 3</a>
        </div>
        <div class="soc">
            <a href="https://vk.com/opal_jewerly"><img src="img/vk 1.svg" alt="vk"></a>
            <a href="https://t.me/opal_jewerly"><img src="img/telegram 1.svg" alt="tg"></a>
            <a href="https://instagram.com/opal_jewerly"><img src="img/inst 1.svg" alt="inst"></a>
        </div>
        <div>
            <p>+7 (900) 653-97-77</p>
            <p class="fontgrey">c 10:00 до 21:00</p>
        </div>
    </div>
    <div class="foottop">
        <p class="bold">Ювелирные изделия</p>
        <a th:href="@{/catalog}">Каталог ювелирных изделий</a><br>
        <a th:href="@{/reviews}">Отзывы</a>
    </div>
    <div class="foottop">
        <div class="footer-reight-menu">
            <div class="footerlogo">
                <a th:href="@{/main-page}">
                    <img src="img/logo.png" class="footerlogo">
                </a>
            </div>
            <p>ИП Соколова С.Р.<br>ОРГНИП: 321623400013730</p>
            <a th:href="@{/about}"><br>© 2018-2022 “ОПАЛ”</a>
        </div>
    </div>
</footer>
</html>