<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/item.css}" rel="stylesheet">
    <title>opal.com</title>
    <meta charset="utf-8">
</head>
<body class="page">
<div class="container">
    <header th:insert="fragments/header_footer.html :: header"></header>

    <h1 th:text="${product.name}"></h1>
    <div th:if="${add_success == true}">
        <div class="alert alert-info"
             th:text="'Товар [' + ${product.name} + '] был успешно добавлен в корзину'">
        </div>
    </div>

    <div th:if="${quantity_limit == true}">
        <div class="alert alert-danger"
             th:text="'Вы набрали слишком много, у нас столько нет! Возможно, товар [' + ${product.name} + '] скоро будет доступен'">
        </div>
    </div>

    <div class="big-card-item d-flex justify-content-between">
        <div class="desc-big-card">
            <img th:src="@{'/img/'+${product.vendorCode}+'.jpg'}    " class="big-img-card">
        </div>
        <div class="desc-big-card2 d-flex align-content-between flex-wrap">
                <div class="description">
                    <h3 class="bold">Описание</h3>
                <p th:text="${product.description}"></p>
                </div>
                <div class="description">
                    <p>Срок исполнения заказа: от 10-ти до 45-ти дней, зависит от трудоемкости работы и степени
                        загруженности производства.</p>
                    <p>Вес готового изделия может отличаться от заданного.</p>
                    <p>Закрепка ювелирных вставок не входит в стоимость изготовления и рассчитываются отдельно.</p>
                    <p>Гарантия 12 месяцев.</p>
                </div>
                    <div class="work-with-button">
                        <div class="work">
                            <p class="bold">Стоимость:</p>
                            <p th:text="${product.price}" id="price-work"></p>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <form
                                method="post"
                                role="form"
                                th:action="@{/add_item_to_cart/{vendor_code}(vendor_code=${product.vendorCode})}"
                            >
                                <button class="button-zakaz" type="submit">Добавить в корзину</button>
                            </form>
                         </div>
                        <div sec:authorize="isAnonymous()">
                            <div class="alert alert-secondary m-0" role="alert">
                                Чтобы купить товар или добавить его в корзину, пожалуйста, войдите
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
</body>
<footer class="footer">
    <div class="social">
        <div class="foottop">
            <a th:href="@{/address}" class="bold">Санкт-Петербург</a>
            <br><a th:href="@{/address}">Среднерогатская, 14к1, ст 1</a>
            <br><a th:href="@{/address}">Каштановая аллея, 3</a>
        </div>
        <div class="soc">
            <a href="https://vk.com/opal_jewerly"><img src="img/vk 1.svg" th:src="@{/img/vk 1.svg}" alt="vk"></a>
            <a href="https://t.me/opal_jewerly"><img src="img/telegram 1.svg" th:src="@{/img/telegram 1.svg}" alt="tg"></a>
            <a href="https://instagram.com/opal_jewerly"><img src="img/inst 1.svg" th:src="@{/img/inst 1.svg}"
                                                              alt="inst"></a>
        </div>
        <div>
            <p>+7 (900) 653-97-77</p>
            <p class="fontgrey">c 10:00 до 21:00</p>
        </div>
    </div>
    <div class="foottop">
        <p class="bold">Ювелирные изделия</p>
        <a th:href="@{/catalog}">Каталог ювелирных изделий</a><br>
        <a th:href="@{/reviews}">Отзывы</a>
    </div>
    <div class="foottop">
        <div class="footer-reight-menu">
            <div class="footerlogo">
                <a th:href="@{/main-page}">
                    <img src="img/logo.png" th:src="@{/img/logo.png}" class="footerlogo">
                </a>
            </div>
            <p>ИП Соколова С.Р.<br>ОРГНИП: 321623400013730</p>
            <a th:href="@{/about}"><br>© 2018-2022 “ОПАЛ”</a>
        </div>
    </div>
</footer>
</html>