<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='item-ring3.css'>
        <title>opal.com</title>
    </head>
    <body class="page">
        <div class="container">
            <header class="header">                
                <div class="headopis">
                    <div class="logo">
                    <a href="catalog.html">
                    <img src="img/logo.png">
                    </a>
                </div>
                    <div class="headright">
                        <a href="adress.html" class="bold">Санкт-Петербург</a>
                        <br><a href="adress.html">Среднерогатская, 14к1, ст 1</a>
                        <br><a href="adress.html">Каштановая аллея, 3</a>
                    </div>
                    <div class="headright">
                        <p class="bold">+7 (900) 653-97-77</p>
                        <p>c 10:00 до 21:00</p>
                    </div>
                    <div class="headright">
                        <a href="shopping-cart.html" class="shop-cart-container">
                           <img src="img/shopping-cart.png" class="cart-icon">
                           <p>Корзина</p> 
                        </a>                        
                    </div>

                </div>
            </header>
                <div class="big-card-item">
                    <div class="desc-big-card">
                        <h1>Золотая печатка 585 пробы с черными бриллиантами.</h1>
                        <img src="img/ring3.jpg" class="big-img-card">
                        <div>
                            <p>Срок исполнения заказа: от 10-ти до 45-ти дней, зависит от трудоемкости работы и степени загруженности производства.</p>
                            <p>Вес готового изделия может отличаться от заданного.</p>
                            <p>Закрепка ювелирных вставок не входит в стоимость изготовления и рассчитываются отдельно.</p>
                            <p>Гарантия 12 месяцев.</p> 
                        </div>                        
                    </div>
                    <div class="desc-big-card">
                        <h1 id="white-text-never">Золотая печатка 585 пробы с черными бриллиантами.</h1>
                        <div class="slidecontainer">
                            <p class="bold">Размер</p>
                            <input type="range" min="14" max="24" value="14" class="slider" id="myRange">
                        </div>
                        <div class="ves-jewerly">
                            <p class="bold">Вес:</p>
                            <p class="ves-count">10,8 г</p>
                        </div>
                        <div class="metall-jewerly">
                            <p class="bold">Металл</p>
                            <ul>
                                <li class="bg">Золото</li>
                                <li class="bg">Серебро</li>
                            </ul>
                        </div>
                        <div class="color-jewerly">
                            <p class="bold">Цвет</p>
                            <ul>
                                <li class="bg">Красное</li>
                                <li class="bg">Белое</li>
                            </ul>
                        </div>
                        <div class="stones-jewerly">
                            <p class="bold">Камни</p>
                            <ul>
                                <li class="bg">Фианит</li>
                                <li class="bg">Хризолит</li>
                            </ul>
                        </div>
                        <div class="work-itog">
                            <div class="work">
                                <p class="bold">Работа</p>
                                <p id="price-work-black">3600 руб.</p>
                            </div>
                            <div class="work">
                                <p class="bold">ИТОГО</p>
                                <p id="price-work">78000 руб.</p>
                            </div>
                            <button class="button-zakaz">Заказать</button>                            
                        </div>
                    </div>
                </div>                
        </div>
        </body>
    <footer class="footer">
        <div class="social">
            <div class="foottop">
                <a href="adress.html" class="bold">Санкт-Петербург</a>
                <br><a href="adress.html">Среднерогатская, 14к1, ст 1</a>
                <br><a href="adress.html">Каштановая аллея, 3</a>
            </div>
            <div class="soc">
                <a href="..."><img src="img/vk 1.svg" alt="vk"></a>
                <a href="..."><img src="img/telegram 1.svg" alt="tg"></a>
                <a href="..."><img src="img/inst 1.svg" alt="inst"></a>
            </div>
            <div>
            <p>+7 (900) 653-97-77</p>
            <p class="fontgrey">c 10:00 до 21:00</p>
            </div>
        </div>
        <div  class="foottop">
            <p class="bold">Ювелирные изделия</p>
            <a href="catalog.html">Каталог ювелирных изделий</a>
        </div>
        <div class="foottop">
            <div class="footer-reight-menu">
            <div class="footerlogo"> 
                <a href="catalog.html">
                <img src="img/logo.png"class="footerlogo">
                </a>
            </div>
            <p>ИП Соколова С.Р.<br>ОРГНИП: 321623400013730</p>
            <a href="about.html"><br>© 2018-2022 “ОПАЛ”</a>
            </div>
        </div>
    </footer>
</html>