<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link th:href="@{/registration.css}" rel="stylesheet">
    <title>opal.com</title>
</head>
<body class="page">
<div class="container">
    <header class="header">
        <div class="headopis">
            <div class="logo">
                <a th:href="@{/main-page}">
                    <img src="img/logo.png">
                </a>
            </div>
            <div class="headright">
                <a th:href="@{/adress}" class="bold">Санкт-Петербург</a>
                <br><a th:href="@{/adress}">Среднерогатская, 14к1, ст 1</a>
                <br><a th:href="@{/adress}">Каштановая аллея, 3</a>
            </div>
            <div class="headright">
                <p class="bold">+7 (900) 653-97-77</p>
                <p>c 10:00 до 21:00</p>
            </div>
        </div>
    </header>
    <main>
        <div class="main">
            <div class="login">
                <form class="login-form"
                      method="post"
                      role="form"
                      th:action="@{/registration}"
                      th:object="${user}">
                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                            Registration successful !!!
                        </div>
                    </div>
                    <label id="aunt-id">Регистрация</label>
                    <input class="pole" id="first_name" name="firstName" type="text" placeholder="First Name">
                    <p class="text-danger" th:errors="*{firstName}"
                       th:if="${#fields.hasErrors('firstName')}"></p>
                    <input class="pole" id="last_name" name="lastName" type="text" placeholder="Last Name">
                    <p class="text-danger" th:errors="*{lastName}"
                       th:if="${#fields.hasErrors('lastName')}"></p>
                    <input class="pole" type="email" name="email" placeholder="Email">
                    <p class="text-danger" th:errors="*{email}"
                       th:if="${#fields.hasErrors('email')}"></p>
                    <input class="pole" type="password" name="password" placeholder="Password">
                    <p class="text-danger" th:errors="*{password}"
                       th:if="${#fields.hasErrors('password')}"></p>
                    <input class="pole" type="confirm_password" name="cfmpswd" placeholder="Confirm your password">
                    <button class="button-aunt pole">Зарегистрироваться</button>
                    <div class="login-link">
                        <p>Уже зарегистрированы? <a th:href="@{/login}">Авторизоваться</a></p>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
<footer class="footer">
    <div class="social">
        <div class="foottop">
            <a th:href="@{/adress}"  class="bold">Санкт-Петербург</a>
            <br><a th:href="@{/adress}">Среднерогатская, 14к1, ст 1</a>
            <br><a th:href="@{/adress}">Каштановая аллея, 3</a>
        </div>
        <div class="soc">
            <a href="https://vk.com/opal_jewerly"><img src="img/vk 1.svg" alt="vk"></a>
            <a href="https://t.me/opal_jewerly"><img src="img/telegram 1.svg" alt="tg"></a>
            <a href="https://instagram.com/opal_jewerly"><img src="img/inst 1.svg" alt="inst"></a>
        </div>
        <div>
            <p>+7 (900) 653-97-77</p>
            <p class="fontgrey">c 10:00 до 21:00</p>
        </div>
    </div>
    <div  class="foottop">
        <p class="bold">Ювелирные изделия</p>
        <a th:href="@{/catalog}">Каталог ювелирных изделий</a><br>
        <a th:href="@{/reviews}">Отзывы</a>
    </div>
    <div class="foottop">
        <div class="footer-reight-menu">
            <div class="footerlogo">
                <a th:href="@{/main-page}">
                    <img src="img/logo.png" class="footerlogo">
                </a>
            </div>
            <p>ИП Соколова С.Р.<br>ОРГНИП: 321623400013730</p>
            <a th:href="@{/about}"><br>© 2018-2022 “ОПАЛ”</a>
        </div>
    </div>
</footer>
</html>