<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='shopping-cart.css'>
        <title>opal.com</title>
    </head>
    <body class="page">
        <div class="container">
            <header class="header">                
                <div class="headopis">
                    <div class="logo">
                    <a href="catalog.html">
                    <img src="img/logo.png">
                    </a>
                </div>
                    <div class="headright">
                        <a href="adress.html" class="bold">Санкт-Петербург</a>
                        <br><a href="adress.html">Среднерогатская, 14к1, ст 1</a>
                        <br><a href="adress.html">Каштановая аллея, 3</a>
                    </div>
                    <div class="headright">
                        <p class="bold">+7 (900) 653-97-77</p>
                        <p>c 10:00 до 21:00</p>
                    </div>
                    <div class="headright">
                        <a href="" class="shop-cart-container">
                           <img src="img/shopping-cart.png" class="cart-icon">
                           <p>Корзина</p> 
                        </a>                        
                    </div>
                </div>
            </header>
            <div class="shopping-carts-container">
                <h1>Корзина</h1>
                <div class="shopping-carts-menu">
                    <div class="cart-items">
                        <div class="shop-cart-item">
                            <div class="cart-image-price">
                                <img src="img/ring1.jpg" class="small-img">
                                <div class="cart-desc-small">
                                    <p>Кольцо</p>
                                    <p>58880 ₽</p>
                                </div>
                            </div>
                            <div class="big-desc-cart">
                                <p>Обручальные кольца белого золота</p>
                                <div class="two-buttons">
                                    <button class="buttons-count">
                                        -
                                    </button>
                                    <p>count</p>
                                    <button class="buttons-count">
                                        +
                                    </button>
                                </div>
                                <button class="button-delete">Удалить</button>                                
                            </div>                            
                        </div>
                        <div class="shop-cart-item">
                            <div class="cart-image-price">
                                <img src="img/ring1.jpg" class="small-img">
                                <div class="cart-desc-small">
                                    <p>Кольцо</p>
                                    <p>58880 ₽</p>
                                </div>
                            </div>
                            <div class="big-desc-cart">
                                <p>Обручальные кольца белого золота</p>
                                <div class="two-buttons">
                                    <button class="buttons-count">
                                        -
                                    </button>
                                    <p>count</p>
                                    <button class="buttons-count">
                                        +
                                    </button>
                                </div>
                                <button class="button-delete">Удалить</button>                                
                            </div> 
                        </div>
                    </div>
                    <div class="describtion-order">                        
                        <form class="desc-form">
                            <p>Имя</p>
                            <input type="text" id="form-window-text">
                        </form>
                        <form class="desc-form">
                            <p>Телефон</p>
                            <input type="tel" id="form-window-text">
                        </form>
                        <div class="shop-sum-itog">
                            <p id="sum-itog">Итого:</p>
                            <p>72000 р.</p>
                        </div>
                        <div class="div-end-shop">
                           <button class="end-shop-button">Заказать</button> 
                        </div>                        
                    </div>
                </div>
            </div>            
        </div>
    </body>
    <footer class="footer">
        <div class="social">
            <div class="foottop">
                <a href="adress.html" class="bold">Санкт-Петербург</a>
                <br><a href="adress.html">Среднерогатская, 14к1, ст 1</a>
                <br><a href="adress.html">Каштановая аллея, 3</a>
            </div>
            <div class="soc">
                <a href="..."><img src="img/vk 1.svg" alt="vk"></a>
                <a href="..."><img src="img/telegram 1.svg" alt="tg"></a>
                <a href="..."><img src="img/inst 1.svg" alt="inst"></a>
            </div>
            <div>
            <p>+7 (900) 653-97-77</p>
            <p class="fontgrey">c 10:00 до 21:00</p>
            </div>
        </div>
        <div  class="foottop">
            <p class="bold">Ювелирные изделия</p>
            <a href="catalog.html">Каталог ювелирных изделий</a>
        </div>
        <div class="foottop">
            <div class="footer-reight-menu">
            <div class="footerlogo"> 
                <a href="catalog.html">
                <img src="img/logo.png"class="footerlogo">
                </a>
            </div>
            <p>ИП Соколова С.Р.<br>ОРГНИП: 321623400013730</p>
            <a href="about.html"><br>© 2018-2022 “ОПАЛ”</a>
            </div>
        </div>
    </footer>
</html>