<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/cart.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Обновить товар</title>
</head>
<body class="page">

    <div class="mx-4 my-2">
        <h1>Обновление товара</h1>
    </div>

<div class="shopping-carts-menu container-fluid d-flex flex-row px-4">
    <div class="cart-items mx-auto my-auto">

                        <img class="my-1" th:src="@{${'/img/' + product.vendorCode + '.jpg'}}" width="240"/>
                        <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary my-1"></p>
                        <form class="my-1" method="post" th:action="@{/administration/upload/{vendor_code}(vendor_code=${product.vendorCode})}" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="file" name="image" accept="image/*" class="form-control-file">
                            </div>
                            <button type="submit" class="btn btn-primary my-1">Загрузить фото</button>
                        </form>
                        <span class="my-1" th:if="${msg != null}" th:text="${msg}"></span>
    </div>

        <div class="cart-items col-8">
            <div>
                <form
                        method="post"
                        role="form"
                        th:action="@{/administration/update/{vendor_code}(vendor_code=${product.vendorCode})}"
                        th:object="${product}"
                >
                    <div th:if="${msg}">
                        <div class="alert alert-info" th:text="${msg}"></div>
                    </div>
                    <div class="container">

                    <input class="form-control" type="hidden" name="vendorCode">

                    <div class="mb-3">
                        <label class="form-label" for="name">Имя</label>
                        <input class="form-control" id="name" th:field="*{name}" type="text">
                        <p class="text-danger" th:errors="*{name}"
                           th:if="${#fields.hasErrors('name')}"></p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="gender">Пол</label>
                        <select class="form-select" id="gender" th:field="*{gender}">
                            <option th:value="'MEN'" th:text="Мужское"></option>
                            <option th:value="'WOMEN'" th:text="Женское"></option>
                            <option th:value="'UNI'" th:text="Унисекас"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="quantity">Количество</label>
                        <input class="form-control" id="quantity" th:field="*{quantity}" type="number">
                        <p class="text-danger" th:errors="*{quantity}"
                           th:if="${#fields.hasErrors('quantity')}"></p>
                    </div>

                    <div class="input-group mb-3 d-flex flex-column">
                        <div>
                            <label class="form-label" for="price">Цена</label>
                        </div>

                        <div class="d-flex">
                            <input type="text" id="price" th:field="*{price}" class="form-control"
                                   aria-label="Dollar amount (with dot and two decimal places)">
                            <span class="input-group-text">₽</span>
                            <span class="input-group-text">0.00</span>
                            <p class="text-danger" th:errors="*{price}"
                               th:if="${#fields.hasErrors('price')}"></p>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description">Описание</label>
                        <input class="form-control" id="description" th:field="*{description}" type="text">
                        <p class="text-danger" th:errors="*{description}"
                           th:if="${#fields.hasErrors('description')}"></p>
                    </div>
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-primary mb-3" type="submit">Обновить товар</button>
                        или <a class="link-primary" th:href="@{/administration/all_products}">Вернуться на главную</a>
                    </div>
                </form>
            </div>
        </div>
</div>

</body>
</html>